<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <title>Classification</title>
    <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="apple-touch-icon" href="apple-touch-icon.png">

        <link rel="stylesheet" href="static/assests/css/bootstrap.min.css">
        <link rel="stylesheet" href="static/assests/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="static/assests/css/fontAwesome.css">
        <link rel="stylesheet" href="static/assests/css/hero-slider.css">
        <link rel="stylesheet" href="static/assests/css/owl-carousel.css">
        <link rel="stylesheet" href="static/assests/css/datepicker.css">
        <link rel="stylesheet" href="static/assests/css/tooplate-style.css">

        <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

        <script src="static/assests/js/vendor/modernizr-2.8.3-respond-1.4.2.min.js"></script>
  </head>
<body style="background-color: rgb(245, 245, 245); color: black">
  <div class="wrap">
    <header id="header">
        <div class="container-fluid">
            <div class="col-md-12">
                <button id="primary-nav-button" type="button">Menu</button>
               
                <nav id="primary-nav" class="dropdown cf">
                    <ul class="dropdown menu">
                        <li class='active'><a href="/index">Home</a></li>
                        
                        <li class='active'><a href="/crop">Crop Recommendation</a></li>
                        <li><a href="/login">Signout</a></li>
                    </ul>
                </nav><!-- / #primary-nav -->

                <div style="margin-left: 85%;" id="google_translate_element"></div>
            </div>
        </div>
    </header>
</div>
<br>
<div class="banner">
    <div class="container-fluid">
        <div class="col-md-5 col-sm-5 col-xs-12">
            <div class="left-content">
                <div class="inside-content">
                    <h4> Crop Recommendation using Machine LEarning</h4>
                   
                </div>
            </div>
        </div>
        
       
    </div>
</div>

<div
id="maintext"
style="
  position: absolute;
  margin: auto;
  width: 700px;
  height: 200px;
  text-align: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
"
>


        <section class="about-section text-center" id="about">
          <div class="container px-4 px-lg-5">
              <div class="row gx-4 gx-lg-5 justify-content-center">

                <div class="card-box1">
                  <div class="card-image"></div>
                  <div class="card-text">
                    
                    <h3>Nitrogen-Phosphorous-Potassium</h3>
                    <p><b>Nitrogen</b> contributes to the enzymatic creation of proteins and is critical to the photosynthetic process. <b>Phosphorus</b> plays an important role in crop growth by aiding in fruit production, stock growth, and root growth. A lack of phosphorus in crop soil will produce weak plants. <b>Potassium</b> is vital to the retention and absorption of water in crop soil.
                    </p>
                  </div>
                </div>
              
              
                <div class="card-box2">
                  <div class="card-image"></div>
                  <div class="card-text">
                    
                    <h2>pH</h2>
                    <p>Soil pH is important because it influences several soil factors affecting plant growth, such as (1) soil bacteria, (2) nutrient leaching, (3) nutrient availability, (4) toxic elements, and (5) soil structure.  Plant nutrients are generally most available to plants in the pH range 5.5 to 6.5.
                    </p>
                  </div>
                  
                </div>
              
              
                <div class="card-box3">
                  <div class="card-image"></div>
                  <div class="card-text">
                    
                    <h2>Rainfall</h2>
                    <p>Apart from a good soil, suitable for a good seed and skills of the farmer to grow the crop and protect it, water is a pre-requisite and rain is the source. Underground water sources (well / bore well), river, tank etc are all dependent on rain to reinforce and there are rainfed crops, which depend entirely on rain. Plantation crops like coffee and tea, totally depend on rain.
                    </p>
                  </div>
                  
                </div>
              
              
                <div class="card-box4">
                  <div class="card-image"></div>
                  <div class="card-text">
                    
                    <h2>Temperature</h2>
                    <p>High temperature, even for short period, affects crop growth especially in temperate crops like wheat. High air temperature reduces the growth of shoots and in turn reduces root growth. High soil temperature is more crucial as damage to the roots is severe resulting in substantial reduction in shoot growth.
                    </p>
                  </div>
                  
                </div>
              
              
                <div class="card-box5">
                  <div class="card-image"></div>
                  <div class="card-text">
                    
                    <h2>Humidity</h2>
                    <p>Humidity can be the most difficult environment factor to control in greenhouses. Even the most sophisticated environmental control equipment cannot perfectly control the humidity level in greenhouses. Humid air directly contributes to problems such as foliar and root diseases, slow drying of the growing medium, plant stress, loss of quality, loss in yields, etc. 
                    </p>
                  </div>
                  
                </div>
              </div>
            </div>
            
            </div>
            </section>
            <!-- Projects-->
            <!-- Footer-->
            <script type="text/javascript" src="https://translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>


            <script type="text/javascript">
                function googleTranslateElementInit() {
                  new google.translate.TranslateElement({pageLanguage: 'en', includedLanguages : 'en,ta,te,bn,ml,fr,hi,kn,mr,pa'}, 'google_translate_element');
                }
                </script>
                
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.11.2.min.js"><\/script>')</script>
      
        <script src="static/assests/js/vendor/bootstrap.min.js"></script>
        
        <script src="static/assests/js/datepicker.js"></script>
        <script src="static/assests/js/plugins.js"></script>
        <script src="static/assests/js/main.js"></script>
      
      </body>
      </html>